@model PsihoKorak_Platforma.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="/css/login.css"/>
</head>

<body>
    <div class="login-box">
        <form asp-action="LoginUser" method="post">
            <h1>Login as user</h1>
            <div>
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div>
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" type="password" />
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <div class="error-message">@ViewData["Error"]</div>
    </div>
    <div class="center">
        <button type="button" onclick="location.href='@Url.Action("Register", "Psychologist")'">Register instead</button>
    </div>
</body>